.details-header {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.details-data {
  display: flex;
  justify-content: space-between;
}

.details-status {
  background-color: lightgoldenrodyellow;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.details-buttons-ftr {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.details-buttons {
  background: yellow;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  outline: 0;
  padding: 10px 15px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.button-deliver:hover {
  background: green;
  color: white;
}

.button-prepare:hover {
  background: blue;
  color: white;
}

.button-transit:hover {
  background: orange;
  color: white;
}

.details-buttons:disabled {
  background: lightgray;
  color: white;
}

.details-table-ftr {
  display: flex;
  justify-content: center;
}

table {
  margin: 20px 5px;
}

tr {
  text-align: justify;
}

td {
  border-bottom: 1px solid black;
  font-size: 14px;
  padding: 7px;
  text-align: center;
}

.details-table-name {
  text-align: left;
}

.details-footer {
  margin: 40px 0;
  text-align: end;
}
